SetEnv GALLERY_ADMIN_PASSWORD changeme
SetEnv GALLERY_ALLOWED_ORIGINS https://www.yourdomain.com

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
